* {
    margin: 0;
    font-family: sans-serif;
  }
  
  body {
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(225, 241, 255, 1) 100%);
  }
  
  div#titulo {
    background-color: #5f84a2;
    text-align: center;
    padding: 4em;
    font-size: 1em;
    color: white;
  }
  
  form#form {
    text-align: center;
  }
  
  #entrar {
    width: 400px;
    height: 30px;
    border-radius: 25px;
    margin-top: 50px;
  }
  
  #salvar {
    height: 30px;
    margin-left: 10px;
  }
  
  ul {
    margin-top: 10em;
    border: #5f84a2 solid 1px;
    width: 400px;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    min-height: 50px;
  }
  
  ul li {
    margin: 1.5em;
    list-style-type: none;
    font-size: 1.5em;
  }
  
  ul li#frase {
    text-align: center;
    margin: 1.2em;
    font-size: 20px;
  }
  
  #remover {
    background-color: #ffb4b1;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    height: 30px;
    float: right;
  }
  #remover:hover{
    background-color: #f59592;
  }
  
  #salvar {
    background-color: #5f84a2;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    height: 30px;
    
  }
  #salvar:hover{
    background-color: #48647a;
  }
  
  a {
    text-decoration: none;
    color: #5f84a2;
  }
  a:hover{
    color: #334a5c;
  }
  